<!DOCTYPE html>

<link href="../styles/recruit.css" rel="stylesheet" />
<link href="../styles/fancybox/jquery.fancybox.css" rel="stylesheet">
<link href="../styles/flexslider.css" rel="stylesheet" />
<link href="../styles/style.css" rel="stylesheet" />

<div id="wrapper">

	<!-- start header -->
	<% include header.ejs %>
	<!-- end header -->
	<section id="inner-headline">
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<h2 class="pageTitle">诚聘英才</h2>
			</div>
		</div>
	</div>
	</section>
	<section id="content">
	
	<div class="panel-group recruit_div_module_modification container" id="accordion">
	  <div class="panel panel-default">
	    <div class="panel-heading " style="background-color:#14ab96;color:white">
	      <h4 class="panel-title">      
	         <div id="recruit_row1">
	         	<label class="recruit_icon"> </label>
	         	<label class="recruit_table_row_cell">
	         		职称
	         	</label>

	         	<label class="recruit_table_row_cell">
	         		待遇
	         	</label>

	         	<label class="recruit_table_row_cell">
	         		发布时间
	         	</label>

	         	<label class="recruit_table_row_cell">
	         		截止时间
	         	</label>
	         </div>
	      </h4>
	    </div>
	  </div>

	  <% for(i=0;i<jobs.length;i++){%>
	  <div class="panel panel-default">
	    <div class="panel-heading">
	      <h4 class="panel-title">
	        
	          <div id="recruit_row2">
	          	<a data-toggle="collapse" data-parent="#accordion" 
	          href="#collapse<%=i%>"><label class="recruit_icon" id="up_png"><img  src="../images/icon/left.png"></label></a>
	         	<label class="recruit_table_row_cell">
	         		<%=jobs[i]['jp_title']%>
	         	</label>

	         	<label class="recruit_table_row_cell">
	         		<%=jobs[i]['jp_salary']%>
	         	</label>

	         	<label class="recruit_table_row_cell">
	         		<%
	    				var ptime=new Date(jobs[i]['jp_pubtime']);
	    				var pubtime = ptime.getFullYear()+'-'+(ptime.getMonth()+1)+'-'+ptime.getDate();
	    			%>
	    			<%=pubtime%>
	         	</label>

	         	<label class="recruit_table_row_cell">
	         		<%
	    				var etime=new Date(jobs[i]['jp_endtime']);
	    				var endtime = etime.getFullYear()+'-'+(etime.getMonth()+1)+'-'+etime.getDate();
	    			%>
	    			<%=endtime%>
	         	</label>
	         </div>

	        
	      </h4>
	    </div>
	    <div id="collapse<%=i%>" class="panel-collapse collapse">
	      <div class="panel-body collapse_ClassForBackGroundColor">
	        <div>
	       		<label class="recruit_table_row_cell_collapse">
	       			<strong>工作内容</strong>
	       		</label>

	       		<p class="recruit_table_row_cell_collapse" style="margin-left:30px">
	       			<%=jobs[i]['jp_job_details']%>
	       		</p>
	       	</div>

	       	<div>
	       		<label class="recruit_table_row_cell_collapse">
	       			<strong>职位要求</strong>
	       		</label>

	       		<ol type=1 class="recruit_table_row_cell_collapse">
	       			<% 
	       				var str = jobs[i]['jp_requirement'];
	       				var strs = new Array();
	       				strs = str.split("；");
	       				for(j=0;j<strs.length;j++){
	       			%>
	       					<li><%=strs[j]%></li>
	       				<%}%>
	       		</ol>
	       	</div>
	      </div>
	    </div>
	  </div>
	  <% } %>

	  <!--<div class="panel panel-default">
	    <div class="panel-heading">
	      <h4 class="panel-title">
	        <a data-toggle="collapse" data-parent="#accordion" 
	          href="#collapseThree">
	          <div id="recruit_row2">
	         	<label class="recruit_table_row_cell">
	         		职称2
	         	</label>

	         	<label class="recruit_table_row_cell">
	         		￥1
	         	</label>

	         	<label class="recruit_table_row_cell">
	         		2016-7-20
	         	</label>

	         	<label class="recruit_table_row_cell">
	         		2016-7-21
	         	</label>
	         </div>
	        </a>
	      </h4>
	    </div>
	    <div id="collapseThree" class="panel-collapse collapse">
	      <div class="panel-body collapse_ClassForBackGroundColor">
	        <div>
	       		<label class="recruit_table_row_cell_collapse">
	       			工作内容
	       		</label>

	       		<p class="recruit_table_row_cell_collapse">
	       			......
	       		</p>
	       	</div>

	       	<div>
	       		<label class="recruit_table_row_cell_collapse">
	       			职位要求
	       		</label>

	       		<ol type=1 class="recruit_table_row_cell_collapse">
	       			<li>...</li>
	       			<li>...</li>
	       			<li>...</li>
	       		</ol>
	       	</div>
	      </div>
	    </div>
	  </div>

	  <div class="panel panel-default">
	    <div class="panel-heading">
	      <h4 class="panel-title">
	        <a data-toggle="collapse" data-parent="#accordion" 
	          href="#collapsethree">
	          <div id="recruit_row3">
	         	<label class="recruit_table_row_cell">
	         		职称3
	         	</label>

	         	<label class="recruit_table_row_cell">
	         		￥1
	         	</label>

	         	<label class="recruit_table_row_cell">
	         		2016-7-20
	         	</label>

	         	<label class="recruit_table_row_cell">
	         		2016-7-21
	         	</label>
	         </div>
	        </a>
	      </h4>
	    </div>
	    <div id="collapsethree" class="panel-collapse collapse">
	      <div class="panel-body collapse_ClassForBackGroundColor">
	        <div>
	       		<label class="recruit_table_row_cell_collapse">
	       			工作内容
	       		</label>

	       		<p class="recruit_table_row_cell_collapse">
	       			......
	       		</p>
	       	</div>

	       	<div>
	       		<label class="recruit_table_row_cell_collapse">
	       			职位要求
	       		</label>

	       		<ol type=1 class="recruit_table_row_cell_collapse">
	       			<li>...</li>
	       			<li>...</li>
	       			<li>...</li>
	       		</ol>
	       	</div>
	      </div>
	    </div>
	  </div>

	  <div class="panel panel-default">
	    <div class="panel-heading">
	      <h4 class="panel-title">
	        <a data-toggle="collapse" data-parent="#accordion" 
	          href="#collapseFour">
	          <div id="recruit_row4">
	         	<label class="recruit_table_row_cell">
	         		职称4
	         	</label>

	         	<label class="recruit_table_row_cell">
	         		￥1
	         	</label>

	         	<label class="recruit_table_row_cell">
	         		2016-7-20
	         	</label>

	         	<label class="recruit_table_row_cell">
	         		2016-7-21
	         	</label>
	         </div>
	        </a>
	      </h4>
	    </div>
	    <div id="collapseFour" class="panel-collapse collapse">
	      <div class="panel-body collapse_ClassForBackGroundColor">
	        <div>
	       		<label class="recruit_table_row_cell_collapse">
	       			工作内容
	       		</label>

	       		<p class="recruit_table_row_cell_collapse">
	       			......
	       		</p>
	       	</div>
	       	<div>
	       		<label class="recruit_table_row_cell_collapse">
	       			职位要求
	       		</label>

	       		<ol type=1 class="recruit_table_row_cell_collapse">
	       			<li>...</li>
	       			<li>...</li>
	       			<li>...</li>
	       		</ol>
	       	</div>
	      </div>
	    </div>
	  </div>-->

	</div>
 
	</section>
	<% include footer.ejs %>
</div>
<a href="#" class="scrollup"><i class="fa fa-angle-up active"></i></a>
<!-- javascript
    ================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="../js/jquery.easing.1.3.js"></script>
<script src="../js/jquery.fancybox.pack.js"></script>
<script src="../js/jquery.fancybox-media.js"></script>  
<script src="../js/jquery.flexslider.js"></script>
<script src="../js/animate.js"></script> 
<!-- Vendor Scripts -->
<script src="../js/modernizr.custom.js"></script>
<script src="../js/jquery.isotope.min.js"></script>
<script src="../js/jquery.magnific-popup.min.js"></script>
<script src="../js/animate.js"></script>
<script src="../js/custom.js"></script>

<script type="text/javascript">

</script>

 <!--
 <script src="contact/jqBootstrapValidation.js"></script>
 <script src="contact/contact_me.js"></script>
-->
</body>
</html>
